@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
body{
  font-size:20px;
  background-color:#FFF !important;
  line-height:40px;
}
h1,h2,h3{
  padding:30px 0;
}

article{
    position:relative !important;
}

.content{
  margin:0 auto;
  width:100%;
  max-width:768px;
  min-height:77vh !important;
  height:unset !important;
}

.cover{
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    filter:brightness(1.1);
    box-shadow:5px 5px 5px #0001;
}

ul{
	margin:20px;
}

.parallax h1 {
	font-size: 54px;
	font-family: 'open sans semibold', arial;
	margin-top: 0px;
	font-weight: 600;
}

#gradient {
  width: 100%;
  height: 23vh;
  padding: 0px;
  margin: 0px;
}

.parallax {
  /*background-image: url("../img/para.jpg");
background-attachment: fixed;*/
  
  width: 100%;
  /*background-position: top center;*/
  
  background-size: cover;
  background: linear-gradient(to right bottom, #31388D 0%, #753FA9 33.333%, #FF0762 66%, #F25632 100%);
  background-size: 800% 800%;
  overflow-x: hidden;
}


.parallax:hover {}

.parallax {
  color: #fff;
  text-align: left;
  margin-top: 160px;
  padding-left: 80px;
}

.parallax h5 {
  font-size: 22px;
  font-family: 'open sans', arial;
  font-weight: 600;
}

.parallax h1 {
  font-size: 54px;
  font-family: 'open sans semibold', arial;
  margin-top: 0px;
  font-weight: 600;
  padding-top:8vh;
}

.parallax p {
  font-size: 18px;
  font-family: 'open sans light', sans-serif, arial;
}

#footer{
  height:70px;
  width:100%;
  position:fixed;
  bottom:0px;
}

@media (max-width: 700px) {
	.parallax h1 {
		font-size:25px !important;
		padding-bottom:0px;
	}

	body,
	.content{
		font-size:14px;
		line-height:40px;
	}
	.content{
		padding-right:10px;
	}

}


