CTYPE html>
<html>

	<head>

		<meta charset="utf-8">

		<link href="http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold" rel="stylesheet" type="text/css">

		<style>

			body {

				width:   80%;
				margin:  3em;

				background: #fff;

				font-family: Arvo, Helvetica, sans-serif;
				font-size:   1.5em;
				line-height: 1.5em;

			}

			h1, h2, h3, h4 { margin: 2em 0 1em 0; }

			form { margin: 0 0 3em 0; }

			fieldset { border: none; }

			fieldset#InputFields {
				background: #ccc;
				padding: 0.5em;
			}

			fieldset#OutputFields {
				clear: left;
				background: #cfc;
				padding: 0.5em;
			}

			fieldset#Labels {
				padding: 0;
				text-align: center;
			}

			textarea {
				width: 100%;
				height: 20em;
				font-family: Courier;
				font-size: .7em;
			}

			label#InputLabel {
				float: left;
				background: #ccc;
				padding: 0.25em 1em;
			}

			label#OutputLabel {
				float: right;
				background: #cfc;
				padding: 0.25em 1em;
			}

			div#OutputLink {
				font-size: 0.9em;
			}

			span.hilite { background: #ff6; }

			.pointer {
				cursor: pointer;
			}

			.error {
				color: red;
			}

		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script src="js/bookmarkleter.js"></script>


		<title>Bookmarkleter</title>

	</head>

	<body>

		<header>
			<h2>Bookmarkleter</h2>
		</header>



		<p>You have JavaScript. You need a <a href="http://en.wikipedia.org/wiki/Bookmarklet">bookmarklet</a>. This does that.</p>

		<h3>Features</h3>

		<ul>

			<li>Removes newlines, tabs, optional spaces, and <span class="hilite">comments</span></li>
			<li>URL-encodes special ASCII characters: [space], %, &quot;, &lt;, &gt;, #, @, &amp;, ?</li>
			<li>Places code in a wrapper function (if not done already)</li>
			<li>Does not hex-encode non-ASCII characters (you should probably use <a href="http://www.w3schools.com/jsref/jsref_fromcharcode.asp">String.fromCharCode</a> for that)</li>

		</ul>

		<h3>Use it</h3>

		<form onsubmit="return false;" ng-app="bookmarkleter">

			<fieldset>
				<label class="pointer" for="reqjq">Requires jQuery</label>
				<input class="pointer" type="checkbox" id="reqjq"
					ng-model="requiresJQuery" ng-change="updateBookmarklet()"></input>
				<br>
				<label class="error" ng-show="error">{{ error }}</label>
			</fieldset>

			<fieldset id="InputFields">
				<textarea ng-model="input" id="Input" ng-change="updateBookmarklet()"></textarea>
			</fieldset>

			<fieldset id="Labels">
				<label id="InputLabel" for="Input">JavaScript</label>
				<label id="OutputLabel" for="Output">Bookmarklet</label>
			</fieldset>

			<fieldset id="OutputFields">
				<textarea ng-bind="output" id="Output" wrap="hard" readonly></textarea>
				<div id="OutputLink">Drag this <a id="OutputHref" ng-href="{{ output }}">link</a> to your bookmarks bar</div>
			</fieldset>

		</form>

		<h3>License</h3>

		<p>This is free software. It is released to the public domain without warranty.</p>

		<div><a href="https://github.com/chriszarate/bookmarkleter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a></div>

	</body>

</html>


