<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" description="HTML snapshot is a little bookmarklet which lets you dump page-elements to html (including styles) instantly"/>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/buble.css">
  <link rel="stylesheet" href="css/hamburger.css">
  <link rel="stylesheet" href="css/style.css">
  <title>HTML snapshot Bookmarklet</title>
</head>
<body class="ready">

    <section>

      <article>

        <div class="menu">
          <input id="menu--toggle"
                 type="checkbox" />
          <!-- /#menu--toggle -->
          <label class="menu--toggle__trigger"
                 for="menu--toggle"></label>
          <!-- /.menu--toggle__trigger -->
          <label class="menu--toggle__burger"
                 for="menu--toggle"></label>
          <!-- /.menu--toggle__burger -->


          <ul class="menu__body">
            <li class="menu__body-element">
              <a class="menu__body-link"
                 href="index.html">
                Home
              </a>
            </li>
            <li class="menu__body-element">
              <a class="menu__body-link"
                 href="https://gitlab.com/coderofsalvation/htmlsnapshot-bookmarket" >
                Gitlab repo 
              </a>
            </li>

            <!--
            <li class="menu__body-element">
              <a class="menu__body-link" href="aboutus.html">
                Pricing
              </a>
            </li>
            -->

            <li class="menu__body-element">
              <a class="menu__body-link" href="mailto:leonvankammen@gmail.com?subject=htmlsnapshot" target="_blank">
                Contact 
              </a>
            </li>
			<!--
            <li class="menu__body-element">
              <a class="menu__body-link" href="https://2wa.isvery.ninja" target="_blank">
                About us
              </a>
            </li>

            <li class="menu__body-element">
              <a class="menu__body-link" href="toc.html">
                Terms &amp; Conditions
              </a>
            </li>
			<li class="menu__body-element">
              <a class="menu__body-link" href="privacy.html">
                Privacy Statement
              </a>
            </li>
			-->

          </ul>
        </div>
      </article>


      <article>
		 <div class="parallax" id="gradient">
			<center>
			  <h1>HTML snapshot Bookmarklet</h1>
			  <p>always at your fingertips</p>
			</center>
		</div>
        <div class="content">
			<style type="text/css">
				.btn{
					padding:10px 20px; 
					border-radius:5px;
					background-color:#0AF;
					text-decoration:none;
					font-weight:700;
					font-size:18px;
					color:#FFF;
				}
			</style>
            <p><b>HTML snapshot</b> is a little bookmarklet which lets you dump page-element to html (including styles) instantly. <br>
				<center>
					<a id="test" class="btn"/>test it here</a>
					<br><br>
					Useful for blogging, integrating into websites e.g. 😎</b></p>
					<br>
				</center>
			<p>
				1. Drag this <a id="link">link</a> to your bookmarks bar
				<br>
				2. In your bookmarks, rename <b>link</b> to <b>html snapshot
				</b>
				<br>
				3. Go to any webpage, and <b>click</b> the bookmark.
				<br>
				4. <b>Profit!</b>

			</p>


			<br><br>
			<div id="footer">
				<center>
					Copyright Coder of Salvation| <a href="privacy.html">Privacy Statement</a>
				</center>
				<br><br>
			</div>
		</div>
		
      </article>
		<script>
			var a = document.querySelector("a#link")
			var test = document.querySelector("a#test")
			a.href = "javascript:(function(){window.serializeWithStyles=function(){var%20defaultStylesByTagName={};var%20noStyleTags={%22BASE%22:true,%22HEAD%22:true,%22HTML%22:true,%22META%22:true,%22NOFRAME%22:true,%22NOSCRIPT%22:true,%22PARAM%22:true,%22SCRIPT%22:true,%22STYLE%22:true,%22TITLE%22:true};var%20tagNames=[%22A%22,%22ABBR%22,%22ADDRESS%22,%22AREA%22,%22ARTICLE%22,%22ASIDE%22,%22AUDIO%22,%22B%22,%22BASE%22,%22BDI%22,%22BDO%22,%22BLOCKQUOTE%22,%22BODY%22,%22BR%22,%22BUTTON%22,%22CANVAS%22,%22CAPTION%22,%22CENTER%22,%22CITE%22,%22CODE%22,%22COL%22,%22COLGROUP%22,%22COMMAND%22,%22DATALIST%22,%22DD%22,%22DEL%22,%22DETAILS%22,%22DFN%22,%22DIV%22,%22DL%22,%22DT%22,%22EM%22,%22EMBED%22,%22FIELDSET%22,%22FIGCAPTION%22,%22FIGURE%22,%22FONT%22,%22FOOTER%22,%22FORM%22,%22H1%22,%22H2%22,%22H3%22,%22H4%22,%22H5%22,%22H6%22,%22HEAD%22,%22HEADER%22,%22HGROUP%22,%22HR%22,%22HTML%22,%22I%22,%22IFRAME%22,%22IMG%22,%22INPUT%22,%22INS%22,%22KBD%22,%22KEYGEN%22,%22LABEL%22,%22LEGEND%22,%22LI%22,%22LINK%22,%22MAP%22,%22MARK%22,%22MATH%22,%22MENU%22,%22META%22,%22METER%22,%22NAV%22,%22NOBR%22,%22NOSCRIPT%22,%22OBJECT%22,%22OL%22,%22OPTION%22,%22OPTGROUP%22,%22OUTPUT%22,%22P%22,%22PARAM%22,%22PRE%22,%22PROGRESS%22,%22Q%22,%22RP%22,%22RT%22,%22RUBY%22,%22S%22,%22SAMP%22,%22SCRIPT%22,%22SECTION%22,%22SELECT%22,%22SMALL%22,%22SOURCE%22,%22SPAN%22,%22STRONG%22,%22STYLE%22,%22SUB%22,%22SUMMARY%22,%22SUP%22,%22SVG%22,%22TABLE%22,%22TBODY%22,%22TD%22,%22TEXTAREA%22,%22TFOOT%22,%22TH%22,%22THEAD%22,%22TIME%22,%22TITLE%22,%22TR%22,%22TRACK%22,%22U%22,%22UL%22,%22VAR%22,%22VIDEO%22,%22WBR%22];for(var%20i=0;i%20%3C%20tagNames.length;i++){if(!%20noStyleTags[tagNames[i]]){defaultStylesByTagName[tagNames[i]]=computeDefaultStyleByTagName(tagNames[i]);}}function%20computeDefaultStyleByTagName(tagName){var%20defaultStyle={};var%20element=document.body.appendChild(document.createElement(tagName));var%20computedStyle=getComputedStyle(element);for(var%20i=0;i%20%3C%20computedStyle.length;i++){defaultStyle[computedStyle[i]]=computedStyle[computedStyle[i]];}document.body.removeChild(element);return%20defaultStyle;}function%20getDefaultStyleByTagName(tagName){tagName=tagName.toUpperCase();if(!%20defaultStylesByTagName[tagName]){defaultStylesByTagName[tagName]=computeDefaultStyleByTagName(tagName);}return%20defaultStylesByTagName[tagName];}return%20function%20serializeWithStyles(){if(this.nodeType%20!==Node.ELEMENT_NODE){throw%20new%20TypeError();}var%20cssTexts=[];var%20elements=this.querySelectorAll(%22*%22);for(var%20i=0;i%20%3C%20elements.length;i++){var%20e=elements[i];if(!%20noStyleTags[e.tagName]){var%20computedStyle=getComputedStyle(e);var%20defaultStyle=getDefaultStyleByTagName(e.tagName);cssTexts[i]=e.style.cssText;for(var%20ii=0;ii%20%3C%20computedStyle.length;ii++){var%20cssPropName=computedStyle[ii];if(computedStyle[cssPropName]!==defaultStyle[cssPropName]){e.style[cssPropName]=computedStyle[cssPropName];}}}}var%20result=this.outerHTML;for(var%20i=0;i%20%3C%20elements.length;i++){elements[i].style.cssText=cssTexts[i];}return%20result;}.call(this);};(function%20elementPickerModule(factory){if(typeof%20define==='function'%20%26%26%20define.amd){define(factory);}else%20if(typeof%20module%20!='undefined'%20%26%26%20typeof%20module.exports%20!='undefined'){module.exports=factory();}else{window['elementPicker']=factory();}})(function%20elementPickerFactory(){if(typeof%20window==='undefined'%20||%20!%20window.document){console.error('elementPicker%20requires%20the%20window%20and%20document.');}var%20oldTarget;var%20desiredBackgroundColor='rgba(0,%200,%200,%200.1)';var%20oldBackgroundColor;var%20onClick;function%20onMouseMove(event){event=event%20||%20window.event;var%20target=event.target%20||%20event.srcElement;if(oldTarget){resetOldTargetColor();}else{document.body.style.cursor='pointer';}oldTarget=target;oldBackgroundColor=target.style.backgroundColor;target.style.backgroundColor=desiredBackgroundColor;}function%20onMouseClick(event){event=event%20||%20window.event;var%20target=event.target%20||%20event.srcElement;if(event.preventDefault)event.preventDefault();if(event.stopPropagation)event.stopPropagation();onClick(target);reset();return%20false;}function%20reset(){document.removeEventListener('click',onMouseClick,false);document.removeEventListener('mousemove',onMouseMove,false);document.body.style.cursor='auto';if(oldTarget){resetOldTargetColor();}oldTarget=null;oldBackgroundColor=null;}function%20resetOldTargetColor(){oldTarget.style.backgroundColor=oldBackgroundColor;}function%20init(options){if(!%20options%20||%20!%20options.onClick){console.error('onClick%20option%20needs%20to%20be%20specified.');return;}desiredBackgroundColor=options.backgroundColor%20||%20desiredBackgroundColor;onClick=options.onClick;document.addEventListener('click',onMouseClick,false);document.addEventListener('mousemove',onMouseMove,false);return%20elementPicker;}var%20elementPicker={};elementPicker.version='1.0.1';elementPicker.init=init;return%20elementPicker;});function%20fallbackCopyTextToClipboard(text){var%20textArea=document.createElement(%22textarea%22);textArea.value=text;textArea.style.top=%220%22;textArea.style.left=%220%22;textArea.style.position=%22fixed%22;document.body.appendChild(textArea);textArea.focus();textArea.select();try{var%20successful=document.execCommand('copy');var%20msg=successful%3F'successful':'unsuccessful';console.log('Fallback:%20Copying%20text%20command%20was%20'+msg);}catch(err){console.error('Fallback:%20Oops,%20unable%20to%20copy',err);}document.body.removeChild(textArea);}function%20copyTextToClipboard(text){if(!navigator.clipboard){fallbackCopyTextToClipboard(text);return;}navigator.clipboard.writeText(text).then(function(){console.log('Async:%20Copying%20to%20clipboard%20was%20successful!');},function(err){console.error('Async:%20Could%20not%20copy%20text:%20',err);});}function%20generate(el){setTimeout(function(){copyTextToClipboard(serializeWithStyles.call(el));alert(%22HTML%20copied%20to%20clipboard%22);},200)}alert(%22use%20the%20mouse%20to%20select%20an%20element%22);elementPicker.init({onClick:generate});})();";
			test.href = a.href
		</script>

    </section>
	<script src="js/index.js"></script>

</body>
</html>

